/* Resetear estilos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
    font-family: sans-serif;
    text-align: left;
    background-color: #503b00;
}

header {
    background-color: #0c9600;
    border-bottom: 2px solid #000000;
    padding: 5px;
    text-align: center;
}

nav {
    background-color: #006400;
    border-bottom: 2px solid #000;
    padding: 5px;
    margin-bottom: 25px;
}

.nav-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 500px;
    margin: 0 auto;
}

a {
    color: #00ffff;
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: #ff0000;
    transition: color 0.2s;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

.row {
    margin-bottom: 25px;
}

section {
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.subsection {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

h2 {
    color: #a08fff;
    margin-bottom: 10px;
}

h3 {
    color: #fff48f;
    margin: 10px 0;
}

h4 {
    color: #8fffa2;
    margin: 10px 0;
}

li {
    margin-bottom: 10px;
}

img {
    max-width: 600px;
    margin-bottom: 10px;
}

footer {
    background-color: #644900;
    border-top: 2px solid #000;
}

.f-container {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 5px;
}