/* Resetear estilos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
      background-image: linear-gradient(#000, #cbcae2) !important;
}

nav {
    border-bottom: 2px solid #000;
}

h1 {
    cursor: pointer;
}

.nav-container {
    max-width: 800px;
    margin: 0 auto;
}

.nav-right {
    gap: 12px;
}

.nav-right {
    display: flex;
    justify-content: flex-end !important;
}

.nav-right a {
    text-decoration: none;
    color: #000;
    background-color: #d6d68a;
    border-radius: 20px;
    padding: 2px 8px;
    transition: background-color 0.2s;
}

.nav-right a:hover {
    background-color: #d68a8a;
    transition: background-color 0.2s;
}

.h2-cont {
    text-align: center;
    max-width: 300px;
    background-color: #fcdede;
    padding: 5px;
    border: 2px solid #000;
    border-radius: 20px;
}

#bullying1 {
    max-width: 200px !important;
    border-radius: 25px;
    transition: transform 0.5s;
}

#bullying2 {
    max-width: 333px !important;
    max-height: 190px !important;
    border-radius: 25px;
    transition: transform 0.5s;
}

.txt-cont {
    text-align: center;
    max-width: 350px;
    background-color: #fcdede;
    padding: 0 7px;
    border: 2px solid #000;
    border-radius: 20px;
}

.txt-cont p {
    font-size: 20px;
    font-weight: 500;
}

.d-flex {
    max-width: 800px;
    margin: 0 auto;
}

#silent {
    max-width: 300px !important;
    border-radius: 25px;
    transition: transform 0.5s;
}