* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-image: linear-gradient(#e2f4fc, #c3daeb) !important;
}

nav {
    background-image: linear-gradient(#90c0e7, #5e99c9) !important;
}

h1 {
    cursor: pointer;
}

.nav-container {
    max-width: 800px;
    margin: 0 auto;
}

.nav-right {
    margin: 0 !important;
    gap: 12px;
    display: flex;
}

.nav-right a {
    text-decoration: none;
    color: #000;
    background-color: #b7e8ff;
    border-radius: 20px;
    padding: 2px 8px;
    transition: background-color 0.2s;
}

.nav-right a:hover {
    background-color: #cdeeff;
    transition: background-color 0.2s;
}

.container {
    margin: 10px auto !important;
}

.h2-cont {
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    background-color: #f2f7fa;
    padding: 5px;
    border-radius: 20px;
}

.shadow-img {
    box-shadow: 5px 5px 5px #0000007c !important;
}

#bullying1 {
    max-width: 200px !important;
    height: 100% !important;
    margin: 0 auto !important;
    border-radius: 25px;
    transition: transform 0.5s;
}

#bullying2 {
    max-width: 333px !important;
    height: 100% !important;
    margin: 0 auto !important;
    border-radius: 25px;
    transition: transform 0.5s;
}

.txt-cont {
    text-align: center;
    max-width: 350px;
    background-image: linear-gradient(#aac3df, #95c3e2) !important;
    padding: 0 7px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #0000007c !important;
}

.txt-cont p {
    font-size: 20px;
    font-weight: 500;
}

.d-flex {
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto !important;
}

#silent {
    max-width: 300px !important;
    border-radius: 25px;
    transition: transform 0.5s;
    margin: 0 auto !important;
}

.btn {
    font-size: 26px !important;
    font-weight: bold !important;
    max-width: 205px;
    margin: 0 auto !important;

}

.btn1 {
    background-image: linear-gradient(#95b5da, #7999c4) !important;
    transition: transform 0.5s;
}

.btn2 {
    background-image: linear-gradient(#8cb1db, #678bb9) !important;
    transition: transform 0.5s;
}

.btn3 {
    background-image: linear-gradient(#829ebe, #607797) !important;
    transition: transform 0.5s;
}

.btn1:hover {
    transition: transform 0.5s;
}

.btn2:hover {
    transition: transform 0.5s;
}

.btn3:hover {
    transition: transform 0.5s;
}

.special-cont {
    background-image: linear-gradient(#aac3df, #cfcfbd) !important;
    max-width: 360px;
    margin: auto 0;
}

.txt-f {
    margin: 0 !important;
}

footer {
    border-top: 2px solid #000;
}

.f-container {
    max-width: 800px;
    padding: 5px;
    align-items: center !important;
}

.f-links {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s !important;
}

.f-links:hover {
    color: #00ffff;
    transition: color 0.2s;
}

.plat-cont {
    padding-bottom: 30px !important;
    background-image: linear-gradient(#aac3df, #dbb3b3) !important;
}

.plat-cont a {
    text-decoration: none;
    color: #fd5c5c;
    font-weight: bold;
    font-size: 20px !important;
}

.plat-cont a:hover {
    color: #ca1b1b;
    font-weight: bold;
    font-size: 20px !important;
}

.txt-1 {
    background-image: linear-gradient(#aac3df, #9dc5c5) !important;
}

.txt-2 {
    background-image: linear-gradient(#aac3df, #bbacc9) !important;
}

.txt-3 {
    background-image: linear-gradient(#aac3df, #95a7e2) !important;
}

.logoimg {
    max-width: 220px !important;
}

.row-fst,
.row-snd,
.row-trd,
.row-frd,
.row-fth {
    margin-top: 15px !important;
}

.logoimg {
    margin: 0 auto !important;
}

.last-box {
    justify-content: center !important;
}

@media (max-width: 500px) {

    .nav-right,
    .nav-left {
        margin: 0 auto !important;
    }

    a {
        font-size: 8px;
        padding: 0 4px !important;
    }

    .txt-cont,
    #bullying1,
    .logoimg {
        margin-bottom: 8px !important;
    }

    #bullying2,
    #silent {
        max-width: 215px !important;
        margin-bottom: 8px !important;
    }

    .btn2 {
        margin: 8px auto !important;
    }

    .btn3 {
        margin-bottom: 8px !important;
    }

    .f-links {
        font-size: 0;
    }
}